<div id="sidemenu" class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
  <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
    <% if (selectedMap) { %>
      <i class="fa-solid fa-location-dot me-2 fs-4"></i>
      <span class="fs-3 fw-semibold">Points for <i><%= selectedMap[0].title %></i></span>
    <%} else { %>
      <i class="fa-solid fa-book-atlas me-2 fs-4"></i>
      <span class="fs-3 fw-semibold">Maps For <i><%= userObj[0].name %></i></span>
    <%} %>
  </a>
  <div class="list-group list-group-flush border-bottom scrollarea">



    <% if (selectedMap) { %>

      <!--  CREATE MENU FOR POINTS -->
      <div href="" class="list-group-item list-group-item py-3 lh-tight" aria-current="true">
        <form class="p-1 p-md-5 border rounded-3 bg-light" action="/api/points" method="POST">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" name="title" >
            <label for="floatingInput">Title</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" name="description" >
            <label for="floatingPassword">Description</label>
          </div>
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="floatingInput" name="latitude" >
            <label for="floatingPassword">Latitude</label>
          </div>
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="floatingInput" name="longitude" >
            <label for="floatingPassword">Longitude</label>
          </div>
          <!-- <%= userObj.id %> -->
          <input type="hidden" name="creator_id" value="<%= userObj[0].id %>">
          <!-- <%= selectedMap.id %> -->
          <input type="hidden" name="map_id" value="<%= selectedMap[0].id %>">
          <button class="w-100 btn btn-lg btn-primary" type="submit">Create Point</button>
        </form>
      </div>

    <%} else { %>

      <!--  CREATE MENU FOR MAPS -->
      <div href="" class="list-group-item py-3 lh-tight" aria-current="true">
        <form class="p-1 p-md-5 border rounded-3 bg-light" action="/api/maps" method="POST">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" name="title">
            <label for="floatingInput">Title</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" name="description">
            <label for="floatingPassword">Description</label>
          </div>
          <!-- <%= userObj.id %> -->
          <input type="hidden" name="creator_id" value="<%= userObj[0].id %>">
          <button class="w-100 btn btn-lg btn-primary" type="submit">Create Map</button>
        </form>
      </div>

    <%} %>

    <% for(let item in sideMenuItems) { %>
      <% if (selectedMap) { %>
        <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
      <%} else { %>
        <a href="/map/<%= sideMenuItems[item].id %>" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
      <%} %>
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1"><%= sideMenuItems[item].title %></strong>

          <% if (selectedMap) { %>
            <!-- Point Delete Button -->
            <form action="/api/points/delete/<%= sideMenuItems[item].id %>" method="POST">
              <input type="hidden" name="map_id" value="<%= sideMenuItems[item].map_id %>">
              <button class="btn btn-sm btn-danger" type="submit">X</button>
            </form>
          <%} else { %>
            <!-- Point Delete Button -->
            <form action="/api/maps/delete/<%= sideMenuItems[item].id %>" method="POST">
              <button class="btn btn-sm btn-danger" type="submit">X</button>
            </form>
          <%} %>



        </div>
        <div class="col-10 mb-1 small"><%= sideMenuItems[item].description %></div>
      </a>
    <% } %>


  </div>
</div>
